<div class="header__container">
  <div class="header__main">
    <div class="header__item" [routerLink]="['/home']" routerLinkActive="active__item">Home</div>
    <div class="header__item"
         [routerLink]="['/post']"
         routerLinkActive="active__item"
        >Post
    </div>
    <div class="header__item" [routerLink]="['/profile']" routerLinkActive="active__item">Profile</div>
    <div *ngIf="!product ; else notLogin">
      <div class="header__item" [routerLink]="['/login']" routerLinkActive="active__item">Login</div>
    </div>
   <ng-template #notLogin >
     <div class="header__item logout" (click)="handleLogout()">
logout
     </div>
   </ng-template>
  </div>


</div>
