<div class="header__container">
  <div class="header__main">
    <div class="header__item" [routerLink]="['/home']" routerLinkActive="active__item">Home</div>
    <div class="header__item"
         [routerLink]="['/post']"
         routerLinkActive="active__item"
        >Post
    </div>
    <div class="header__item" [routerLink]="['/profile']" routerLinkActive="active__item">Profile</div>
    <div *ngIf="!product ; else notLogin">
      <div class="header__item" [routerLink]="['/login']" routerLinkActive="active__item">Login</div>
    </div>
   <ng-template #notLogin >
     <div class="header__item logout" (click)="openModal(template)">
      <img src="assets/images/test/logout.png" width="30"/>
     </div>
   </ng-template>
  </div>
</div>

<!--modal xac nhan-->
<ng-template #template>
  <div class="modal-body text-center">
    <h3>Bạn muốn đăng xuất</h3>
    <button type="button" class="btn btn-danger" (click)="decline()" style="margin-right: 20px">Không</button>
    <button type="button" class="btn btn-primary" (click)="confirm()" >Đồng ý</button>

  </div>
</ng-template>

