<h1>{{'LOGIN.PLEASE_LOGIN' | translate}}</h1>

<div class="form__container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form__main">

    <label for="email">Email: </label>
    <input id="email" type="text" formControlName="email">
    <div *ngIf="this.loginForm.controls.email.errors?.['pattern']"style="color: red">
      {{'LOGIN.VALID_EMAIL' | translate}}: huykk@gmail.com
    </div>

    <label for="password">{{'LOGIN.PASSWORD' | translate}}: </label>
    <input id="password" type="password" formControlName="password">
    <div *ngIf="this.loginForm.controls.password.errors?.['minlength']"style="color: red">
      {{'LOGIN.VALID_PASS' | translate}}
    </div>

<!--    <div *ngIf="!loginForm.valid" style="color: red">-->
<!--     Vui lòng nhập đủ thông tin-->
<!--    </div>-->

<!--    <button type="submit" [disabled]="!loginForm.valid">Submit</button>-->
    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">{{'LOGIN.SUBMIT' | translate}}</button>
  </form>
</div>




