<h1>{{'POST.TABLE' | translate}}</h1>

<div class="post__top">
  <div class="form-input">
    <input
      #searchElement
      [(ngModel)]="searchText"
      placeholder=" Start searching for a user by id or name or content"
      class="form-control search-input"
      id="searchText"
      name="searchValue"
      type="text"
    />
    <i aria-hidden="true" class="fa fa-search search"></i>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="openModal(template)">{{'POST.ADD' | translate}}</button>
  </div>
</div>

<div class="table__post">
  <nz-table
    #basicTable
    [nzData]="dataDisplay"
    [nzPageSize]="10"
  >
    <thead>
    <tr>
      <th *ngFor="let column of listOfColumn" [nzSortFn]="sortFn">{{ column.title }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of basicTable.data | filter :searchText">
      <td (click)="handleDetail(user.id)">{{ user.id }}</td>
      <td (click)="handleDetail(user.id)">{{ user.name }}</td>
      <td (click)="handleDetail(user.id)">{{ user.content }}</td>
      <td>
        <button (click)="openModal(templateE) ; handleDetailEdit(user.id)">{{'POST.EDIT' | translate}}</button>
        <button (click)="openModal(templateD); handleIdDelete(user.id)">{{'POST.DELETE' | translate}}</button>
      </td>

    </tbody>
  </nz-table>
</div>


<ng-template #templateE>
  <div class="modal-body text-center">
    <h2>{{'POST.UPDATE' | translate}}</h2>
    <form [formGroup]="EditForm" (ngSubmit)="handleEdit()" class="form__main">
      <label for="id">ID: </label>
      <input id="id" type="text" formControlName="id" [readOnly]="dis" class="disabled--custom">

      <label for="name">{{'POST.NAME' | translate}}: </label>
      <input id="name" type="text" formControlName="name">

      <label for="content">{{'POST.CONTENT' | translate}}: </label>
      <input id="content" type="text" formControlName="content">

      <button type="submit" [disabled]="!EditForm.valid" class="btn btn-primary">{{'POST.UPDATE' | translate}}</button>
      <button type="button" class="btn btn-danger" (click)="decline()">{{'POST.CANCEL' | translate}}</button>
    </form>
  </div>
</ng-template>

<ng-template #template>
  <div class="modal-body text-center">
    <h2>{{'POST.ADD' | translate}}</h2>
    <form [formGroup]="AddForm" (ngSubmit)="confirm()" class="form__main">

      <label for="name">{{'POST.NAME' | translate}}: </label>
      <input id="name" type="text" formControlName="name">
      <!--          <div *ngIf="this.loginForm.controls.email.errors?.['pattern']"style="color: red">-->
      <!--            Nhập đúng định dạng emai: huykk@gmail.com-->
      <!--          </div>-->

      <label for="content">{{'POST.CONTENT' | translate}}: </label>
      <input id="content" type="text" formControlName="content">
      <!--          <div *ngIf="this.loginForm.controls.password.errors?.['minlength']"style="color: red">-->
      <!--            Mật khẩu ít nhất 8 kí tự-->
      <!--          </div>-->

      <!--    <div *ngIf="!loginForm.valid" style="color: red">-->
      <!--     Vui lòng nhập đủ thông tin-->
      <!--    </div>-->

      <button type="submit" [disabled]="!AddForm.valid" class="btn btn-primary">Submit</button>
    </form>

  </div>
</ng-template>

<ng-template #templateD>
  <div class="modal-body text-center">
    <h2>{{'POST.ARE_YOU_SURE' | translate}}!!!</h2>
    <button type="button" class="btn btn-danger" (click)="decline()" style="margin-right: 20px">{{'POST.NO' | translate}}</button>
    <button type="button" class="btn btn-primary" (click)="handleDelete()">{{'POST.YES' | translate}}</button>

  </div>
</ng-template>

