<!--<div *ngIf="isLogin; else noLogin">-->
<!--  <h1 appHighLight>{{'HOME.IS_LOGIN' | translate}}</h1>-->
<!--</div>-->

<!--<ng-template #noLogin>-->
<!--  <h1>{{'LOGIN.LOGIN_SUCCESS' | translate}}</h1>-->
<!--</ng-template>-->
<!--chon tinh, huyen, xa-->

<!--  <div class="VN__container">-->
<!--    <h2>{{'HOME.CHOOSE' | translate}}</h2>-->
<!--    <div class="VN__main">-->
<!--      <div>-->
<!--        <span>{{'HOME.PROVINCE' | translate}}</span>-->
<!--        <span>-->
<!--<ng-select [(ngModel)]="dataInput.tinh" (ngModelChange)="handleProvince($event)" name="tinh" class="VN__province">-->
<!--  <ng-option *ngFor="let car of vnData" [value]="car?.code">{{car?.name}}-->
<!--  </ng-option>-->
<!--</ng-select>-->
<!--    </span>-->
<!--      </div>-->

<!--<div>-->
<!--  <span>{{'HOME.DISTRICT' | translate}}</span>-->
<!--  <span>-->
<!--  <ng-select [(ngModel)]="dataInput.huyen" (ngModelChange)="handleDistrict($event)" name="huyen" class="VN__province">-->
<!--    <ng-option *ngFor="let car of district" [value]="car?.code">{{car?.name}}-->
<!--    </ng-option>-->
<!--  </ng-select>-->
<!--    </span>-->
<!--</div>-->

<!--<div>-->
<!--  <span>{{'HOME.WARD' | translate}}</span>-->
<!--  <span>-->
<!--    <ng-select [(ngModel)]="dataInput.xa" name="tinh" class="VN__province">-->
<!--      <ng-option *ngFor="let car of ward" value="{{car?.code}}">{{car?.name}}-->
<!--      </ng-option>-->
<!--    </ng-select>-->
<!--    </span>-->
<!--</div>-->

<!--    </div>-->
<!--    <div class="button&#45;&#45;submit">-->
<!--    </div>-->
<!--  </div>-->





