
<!--  <input type="text" >-->
<!--  <button (click)="updateTime()">Update Time</button>-->
<!--  <input type="text" #label1 (change)="updateValue($event)">-->
<!--  <input type="text" #label1 (change)="updateValue(label1.value)">-->
<!--  <h2>thay doi {{label}}</h2>-->

<!--  <h1> {{title}} </h1>-->
<!--  <input type="text" [(ngModel)]="title">-->

<!--  <div *ngIf="title"> &lt;!&ndash; Chỗ này là gọi directive ngIf để kiểm tra điều kiện if ngay ở html &ndash;&gt;-->
<!--    Time: {{title}}-->
<!--  </div>-->

<!--  <div *ngIf="title; else noTitle">-->
<!--    Time: {{title}}-->
<!--  </div>-->
<!--  <ng-template #noTitle> Click on the button to see time. </ng-template>-->

<!--<div>Welcome <ng-container *ngIf="title">to <i>the</i> {{title}} world.</ng-container></div>-->

<!--  <div [ngSwitch]="isMetric">-->
<!--    <div *ngSwitchCase="true">Degree Celsius</div>-->
<!--    <div *ngSwitchCase="false">Fahrenheit</div>-->
<!--  </div>-->

<!--  <div [ngSwitch]="isMetric">-->
<!--    <div *ngSwitchCase="true">Degree Celsius</div>-->
<!--    <div *ngSwitchDefault>Fahrenheit</div>-->
<!--  </div>-->

<div class="container">
<app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>





