
<!--<h2 (click)="test()">test post</h2>-->




<h1> bai viet</h1>
<!--<p [routerLink]="['/post-detail',1]">Zeus rất đỗi vui mừng vì có một cậu con trai. Vào một đêm nọ, thần xuống trần bế chú bé Heracles lên cung điện Olympus, lén đặt vào lòng nữ thần Hera để bú trộm sữa. Khi Hera phát hiện Heracles và đẩy phắt cậu ra thì cậu đã bú gần no. Tương truyền lúc Hera đẩy cậu ra, sữa của nữ thần văng khắp bầu trời, tạo thành sông Ngân Hà. Nhờ được uống sữa của Hera mà sau này cậu bé mới trở nên bất tử. Vì vậy, thần Zeus đặt tên mới cho cậu bé là "Heracles", có nghĩa "Vinh quang của Hera".</p>-->


<!--<h1>fetch data</h1>-->

<!--<div id="1" class="item new col-md-4" *ngFor="let item of datas">-->

<!--      <h4>{{item.name}}</h4>-->
<!--      <h6>{{item.content}}</h6>-->
<!--   -->
<!--</div>-->


<!--(click)="handleDetail(dl)"-->
<!--<ngx-datatable-->
<!--  class=" container"-->
<!--  [rows]="datas"-->
<!--  [loadingIndicator]="loadingIndicator"-->
<!--  [columns]="columns"-->
<!--  [headerHeight]="50"-->
<!--  [footerHeight]="50"-->
<!--  rowHeight="auto"-->
<!--  [reorderable]="reorderable"-->
<!--  [limit]="10"-->

<!--  (click)="handleDetail($event)"-->
<!--&gt;-->
<!--</ngx-datatable>-->

<!--<button nz-button nzType="primary">Primary</button>-->

<!--<div *ngFor="let data of datas">-->
<!--  <p (click)="handleDetail(data.id)">{{data.name}}</p>-->

<!--</div>-->

<!--<div class="col-md-12 mb-3" style="margin-top: 10px;">-->
<!--  <ngx-datatable class="material container striped table__post" [rows]="datas" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto">-->
<!--&lt;!&ndash;    <ngx-datatable-column name="#" [flexGrow]="0.5">&ndash;&gt;-->
<!--&lt;!&ndash;      <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>&ndash;&gt;-->
<!--&lt;!&ndash;        {{(rowIndex + 1)}}&ndash;&gt;-->
<!--&lt;!&ndash;      </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;    </ngx-datatable-column>&ndash;&gt;-->
<!--    <ngx-datatable-column name="#" [flexGrow]="1">-->
<!--      <ng-template let-row="row" ngx-datatable-cell-template>-->
<!--        {{ row?.id | titlecase }}-->
<!--      </ng-template>-->
<!--    </ngx-datatable-column>-->

<!--    <ngx-datatable-column name="Name" [flexGrow]="2">-->
<!--      <ng-template let-row="row" ngx-datatable-cell-template>-->
<!--        {{ row?.name | titlecase }}-->
<!--      </ng-template>-->
<!--    </ngx-datatable-column>-->
<!--    <ngx-datatable-column name="Content" [flexGrow]="2">-->
<!--      <ng-template let-row="row" ngx-datatable-cell-template>-->
<!--        {{row?.content}}-->
<!--      </ng-template>-->
<!--    </ngx-datatable-column>-->
<!--  </ngx-datatable>-->
<!--</div>-->
<!--<h1>{{searchValue}}</h1>-->
<div class="post__top">
  <div class="form-input">
    <input
      #searchElement
      [(ngModel)]="searchText"
      placeholder=" Start searching for a user by id or name or content"
      class="form-control search-input"
      id="searchText"
      name="searchValue"
      type="text"
    />
    <i aria-hidden="true" class="fa fa-search search"></i>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="openModal(template)">Thêm mới</button>
    <ng-template #template>
      <div class="modal-body text-center">
        <h2>thêm mới</h2>
        <form [formGroup]="AddForm" (ngSubmit)="confirm()" class="form__main">

          <label for="name">Name: </label>
          <input id="name" type="text" formControlName="name">
<!--          <div *ngIf="this.loginForm.controls.email.errors?.['pattern']"style="color: red">-->
<!--            Nhập đúng định dạng emai: huykk@gmail.com-->
<!--          </div>-->

          <label for="content">Content: </label>
          <input id="content" type="text" formControlName="content">
<!--          <div *ngIf="this.loginForm.controls.password.errors?.['minlength']"style="color: red">-->
<!--            Mật khẩu ít nhất 8 kí tự-->
<!--          </div>-->

          <!--    <div *ngIf="!loginForm.valid" style="color: red">-->
          <!--     Vui lòng nhập đủ thông tin-->
          <!--    </div>-->

          <button type="submit" [disabled]="!AddForm.valid">Submit</button>
        </form>





<!--        <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>-->
<!--        <button type="button" class="btn btn-primary" (click)="decline()" >No</button>-->
      </div>
    </ng-template>
  </div>
</div>


<nz-table
  #basicTable
  [nzData]="dataDisplay"
  [nzPageSize]="5"
>
  <thead>
  <tr>
    <th *ngFor="let column of listOfColumn" [nzSortFn]="sortFn">{{ column.title }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of basicTable.data | filter :searchText" >
    <td (click)="handleDetail(user.id)">{{ user.id }}</td>
    <td (click)="handleDetail(user.id)">{{ user.name }}</td>
    <td (click)="handleDetail(user.id)">{{ user.content }}</td>
    <td>
      <button (click)="openModal(templateE) ; handleDetailEdit(user.id)">Edit</button>
      <button (click)="handleDelete(user.id)">Delete</button>
    </td>

  </tbody>
</nz-table>

<ng-template #templateE>
  <div class="modal-body text-center">
    <h2>thêm mới</h2>
    <form [formGroup]="EditForm" (ngSubmit)="handleEdit()" class="form__main">
      <label for="id">ID: </label>
      <input id="id" type="text" formControlName="id">

      <label for="name">Name: </label>
      <input id="name" type="text" formControlName="name">

      <label for="content">Content: </label>
      <input id="content" type="text" formControlName="content">

      <button type="submit" [disabled]="!EditForm.valid">Cập Nhật</button>
      <button type="button" class="btn btn-primary" (click)="decline()">Hủy</button>
    </form>





    <!--        <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>-->
    <!--        <button type="button" class="btn btn-primary" (click)="decline()" >No</button>-->
  </div>
</ng-template>
