<h1>post works!</h1>




<h1> bai viet</h1>

<p [routerLink]="['/post-detail',1]">Zeus rất đỗi vui mừng vì có một cậu con trai. Vào một đêm nọ, thần xuống trần bế chú bé Heracles lên cung điện Olympus, lén đặt vào lòng nữ thần Hera để bú trộm sữa. Khi Hera phát hiện Heracles và đẩy phắt cậu ra thì cậu đã bú gần no. Tương truyền lúc Hera đẩy cậu ra, sữa của nữ thần văng khắp bầu trời, tạo thành sông Ngân Hà. Nhờ được uống sữa của Hera mà sau này cậu bé mới trở nên bất tử. Vì vậy, thần Zeus đặt tên mới cho cậu bé là "Heracles", có nghĩa "Vinh quang của Hera".</p>
