@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/themes/dark.scss';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

.table__post {
  text-align: center;
}

.form-control {
  width: 400px;
}

.post__top {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.form__main {
  display: flex;
  flex-direction: column;
  label {
    text-align: left;
    font-weight: 500;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  button {
    margin-top: 20px;
    background: #0d6efd;
    color: #fff;
    cursor: pointer;
  }
}
