<h1>Children component: {{childMessage}}</h1>
<button class="btn btn-primary" (click)="voted()">Click to ++</button>
<button class="btn btn-primary" (click)="votedMinus()">Click to --</button>
<button class="btn btn-primary" (click)="reset()">Click reset</button>

<h3>this is message use BehaviourSubject .....{{message}}</h3>
<button class="btn btn-primary" (click)="createMessage('Data service BehaviourSubject')"> test Data service BehaviourSubject</button>
<button class="btn btn-primary" (click)="createMessage('reset')"> test reset Data service BehaviourSubject</button>
