<!--<input value="" placeholder="aaa">-->
<!--<input value="{{name}}" [title]="name">-->
<!--<input [value]="name">-->

<!--<div (click)="navigate('post')" style="background: #4285f4">chuyn sang post</div>-->


<!--<h2> count la {{ count$ | async }}</h2>-->
<!--<h2> auth la {{ auth | async }}</h2>-->

<div *ngIf="isLogin; else noLogin">
  <h1 appHighLight>Đăng nhập thành công</h1>
</div>

<ng-template #noLogin>
  <h1>Bạn chưa đăng nhập</h1>
</ng-template>

<h2>test child component</h2>
<h3>View child thông qua @Input</h3>
<app-product [childMessage]="'hello'" (voteSize)="voteCount($event)" (voteReset)="voteCount($event)"></app-product>

<h3>EventEmitter</h3>
<h1>Total vote from children: {{vote}}</h1>

<!--<table>-->
<!--  <tr>-->
<!--    <th>trai cay</th>-->
<!--    <th>gia</th>-->
<!--    <th>Sale</th>-->
<!--  </tr>-->
<!--  <tr *ngFor="let a of dataList">-->
<!--    <td>{{a.name | uppercase }}</td>-->
<!--    <td [ngClass]="a.gia<0?'so-am':''">{{a.gia}}</td>-->
<!--&lt;!&ndash;    pipe angular&ndash;&gt;-->
<!--    <td>{{a. sale | onsale | uppercase}}</td>-->
<!--    &lt;!&ndash;<td [ngClass]="{'so-am': a.gia<0}" [ngStyle]="{'font-size': '30px'}" [style]="{'color: yellow':a.gia>0 }">{{a.gia | currency}}</td>&ndash;&gt;-->
<!--  </tr>-->
<!--</table>-->


<!--chon tinh, huyen, xa-->

<!--  <div class="VN__container">-->
<!--    <h2>chọn tỉnh huyện...</h2>-->
<!--    <div class="VN__main">-->
<!--      <div>-->
<!--        <span>tinh</span>-->
<!--        <span>-->
<!--<ng-select [(ngModel)]="dataInput.tinh" (ngModelChange)="handleProvince($event)" name="tinh" class="VN__province">-->
<!--  <ng-option *ngFor="let car of vnData" [value]="car?.code">{{car?.name}}-->
<!--  </ng-option>-->
<!--</ng-select>-->
<!--    </span>-->
<!--      </div>-->

<!--<div>-->
<!--  <span>huyen</span>-->
<!--  <span>-->
<!--  <ng-select [(ngModel)]="dataInput.huyen" (ngModelChange)="handleDistrict($event)" name="huyen" class="VN__province">-->
<!--    <ng-option *ngFor="let car of district" [value]="car?.code">{{car?.name}}-->
<!--    </ng-option>-->
<!--  </ng-select>-->
<!--    </span>-->
<!--</div>-->

<!--<div>-->
<!--  <span>xa</span>-->
<!--  <span>-->
<!--    <ng-select [(ngModel)]="dataInput.xa" name="tinh" class="VN__province">-->
<!--      <ng-option *ngFor="let car of ward" value="{{car?.code}}">{{car?.name}}-->
<!--      </ng-option>-->
<!--    </ng-select>-->

<!--    </span>-->
<!--</div>-->

<!--    </div>-->
<!--    <div class="button&#45;&#45;submit">-->
<!--      &lt;!&ndash;      <button type="submit"  class="btn btn-primary">Submit</button>&ndash;&gt;-->
<!--      &lt;!&ndash;      <span [ngModel]="dataInput">thong tin ban da nhap la: {{dataInput.xa}}, {{dataInput.huyen}}&ndash;&gt;-->
<!--      &lt;!&ndash;        , {{dataInput.tinh}}</span>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->




